<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.camera"
        android:versionCode="1"
        android:versionName="1"
        >

    <original-package android:name="com.android.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application android:icon="@mipmap/ic_launcher_camera"
            android:name="com.android.camera.CameraAppImpl"
            android:label="@string/camera_label"
            android:theme="@style/ThemeCamera"
            android:hardwareAccelerated="true">
        <uses-library android:name="com.google.android.media.effects" android:required="false" />
        <receiver android:name="com.android.camera.CameraButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.android.camera.Camera"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:clearTaskOnLaunch="true"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.camera.VideoCamera"
                android:label="@string/video_camera_label"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:icon="@mipmap/ic_launcher_video_camera"
                android:clearTaskOnLaunch="true"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Suppose users enter panorama from launcher, turn off the screen,
             turn on the screen, and enter the camera from the lock screen.
             They can switch to panorama from there. Use singleTask so there
             will be only one panorama activity. -->
        <activity android:name="com.android.camera.panorama.PanoramaActivity"
                android:label="@string/pano_dialog_title"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:clearTaskOnLaunch="true"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                android:launchMode="singleTask">
        </activity>
    </application>
</manifest>

