<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.camera"
        android:versionCode="1"
        android:versionName="1"
        >

    <original-package android:name="com.android.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application android:icon="@drawable/ic_launcher_camera"
            android:label="@string/camera_label"
            android:taskAffinity=""
            android:backupAgent=".CameraBackupAgent">
        <meta-data android:name="com.google.android.backup.api_key"
                android:value="AEdPqrEAAAAI85IcCDWp9k7eNpJe4_pinqsKoMpNIKw6BGAElw" />
        <receiver android:name="com.android.camera.CameraButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.android.camera.Camera"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:screenOrientation="landscape"
                android:clearTaskOnLaunch="true"
                android:taskAffinity="android.task.camera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.camera.VideoCamera"
                android:label="@string/video_camera_label"
                android:configChanges="orientation|keyboardHidden"
                android:icon="@drawable/ic_launcher_video_camera"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:screenOrientation="landscape"
                android:clearTaskOnLaunch="true"
                android:taskAffinity="android.task.camcorder">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>

