on early-init
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system

    # for backwards compatibility
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard

    export EXTERNAL_STORAGE /storage/sdcard0

    setprop ro.usb.idproduct.ums 0ce9
    setprop ro.usb.idproduct.mtp 0f91
    setprop ro.usb.idproduct.mtp_adb 0df5
    setprop ro.usb.idproduct.rndis 0ce9

on fs
    # mount all the things
    mount_all fstab.m7wls

    # for NFC
    symlink /system/vendor/pittpatt /vendor/pittpatt
    symlink /system/vendor/firmware/libpn544_fw.so /vendor/firmware/libpn544_fw.so

on boot
    # m7wls radio
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio

# Services start here

service akmd /system/bin/akmd
    class main
    user compass
    group compass misc input
