# Copyright (C) 2012 The Android Open Source Project
# Edited for Android Revolution HD
# USB configuration common for all android devices

on post-fs-data
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

# Used to disable USB when switching states
on property:sys.usb.config=none
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    setprop sys.usb.state ${sys.usb.config}

# adb only USB configuration
# This should only be used during device bringup
# and as a fallback if the USB manager fails to set a standard configuration
on property:sys.usb.config=adb
    start adbd
    write /sys/class/android_usb/android0/f_adb/on 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adboff
    stop adbd
    write /sys/class/android_usb/android0/f_adb/on 0
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 3
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage
    write /sys/devices/platform/android_usb/usb_function_switch 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 11
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mass_storage,diag
    write /sys/devices/platform/android_usb/usb_function_switch 9
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2059
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mass_storage,diag,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2057
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,diag,modem,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6411
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mass_storage,diag,modem,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 6409
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,diag,modem,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 4363
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mass_storage,diag,modem,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 4361
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,modem,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 6408
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,modem,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 4360
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,diag,modem,modem_mdm,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 22795
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mass_storage,diag,modem,modem_mdm,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 22793
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration
on property:sys.usb.config=accessory
    write /sys/devices/platform/android_usb/usb_function_switch 8192
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration, with adb
on property:sys.usb.config=accessory,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 8194
    setprop sys.usb.state ${sys.usb.config}

# Audio accessory configuration
on property:sys.usb.config=audio_source
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d02
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# Audio accessory configuration, with adb
on property:sys.usb.config=audio_source,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d03
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB and audio accessory configuration
on property:sys.usb.config=accessory,audio_source
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d04
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB and audio accessory configuration, with adb
on property:sys.usb.config=accessory,audio_source,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d05
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration

on property:persist.sys.usb.config=adb
      setprop sys.usb.config ${persist.sys.usb.config}

on property:persist.sys.usb.config=adboff
      setprop sys.usb.config ${persist.sys.usb.config}

on property:sys.usb.config=rndis
    write /sys/devices/platform/android_usb/usb_function_switch 4
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,diag
    write /sys/devices/platform/android_usb/usb_function_switch 12
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,diag,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2060
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 14
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2062
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,mtp,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 135
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,rmnet,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 4227
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 4225
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,mtp
    write /sys/devices/platform/android_usb/usb_function_switch 133
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=cdc_ethernet
    write /sys/devices/platform/android_usb/usb_function_switch 512
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=cdc_network
# Add projector
    write /sys/devices/platform/android_usb/usb_function_switch 98304
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=cdc_network,adb
    start adbd
# Add projector
    write /sys/devices/platform/android_usb/usb_function_switch 98306
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp
    write /sys/devices/platform/android_usb/usb_function_switch 128
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 130
    setprop sys.usb.state ${sys.usb.config}

# PC MODEM::modem+diag+serial+mtp+adb+mass_storage
on property:sys.usb.config=mtp,modem,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 411
    setprop sys.usb.state ${sys.usb.config}
    setprop service.modem.enable 1

# PC MODEM::modem+diag+serial+mtp+mass_storage
on property:sys.usb.config=mtp,modem
    write /sys/devices/platform/android_usb/usb_function_switch 409
    setprop sys.usb.state ${sys.usb.config}
    setprop service.modem.enable 1

#PC MODEM::modem+diag+serial+mtp+adb+mass_storage
on property:sys.usb.config=mtp,modem,adb,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 411
    setprop sys.usb.state ${sys.usb.config}
    setprop service.modem.enable 1

#PC MODEM::modem+diag+serial+mtp+mass_storage
on property:sys.usb.config=mtp,modem,diag
    write /sys/devices/platform/android_usb/usb_function_switch 409
    setprop sys.usb.state ${sys.usb.config}
    setprop service.modem.enable 1


# Will add mass_storage
on property:sys.usb.config=mtp,diag,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 139
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
# Without adb
on property:sys.usb.config=mtp,diag
    write /sys/devices/platform/android_usb/usb_function_switch 137
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,projector
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 162
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,projector
    write /sys/devices/platform/android_usb/usb_function_switch 160
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 386
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,modem
    write /sys/devices/platform/android_usb/usb_function_switch 384
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,diag,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 394
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,diag,modem
    write /sys/devices/platform/android_usb/usb_function_switch 392
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,diag,modem,modem_mdm,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 18826
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,diag,modem,modem_mdm,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 18824
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,diag,modem,modem_mdm,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 22922
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,diag,modem,modem_mdm,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 22920
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,diag,modem,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6538
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,diag,modem,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 6536
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,diag,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6282
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,diag,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 6280
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,diag,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 4234
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,diag,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 4232
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,diag,modem,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 4490
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,diag,modem,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 4488
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
on property:sys.usb.config=mtp,adb,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2187
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
# Without adb
on property:sys.usb.config=mtp,diag,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2185
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,diag,modem,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2442
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,diag,modem,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2440
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,mass_storage,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 131
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 131
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage
    write /sys/devices/platform/android_usb/usb_function_switch 129
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,mtp,mass_storage,adb
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 135
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,mtp,adb,mass_storage
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 135
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,mtp,mass_storage
    write /sys/devices/platform/android_usb/usb_function_switch 133
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,mass_storage,adb,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 139
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 139
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage,diag
    write /sys/devices/platform/android_usb/usb_function_switch 137
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,mass_storage,adb,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2187
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2187
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage,diag,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2185
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,mass_storage,adb,diag,modem,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 4491
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage,diag,modem,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 4491
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage,diag,modem,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 4489
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,mass_storage,adb,diag,modem,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6539
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage,diag,modem,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 6539
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage,diag,modem,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 6537
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,mass_storage,adb,diag,modem,modem_mdm,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 22923
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage,diag,modem,modem_mdm,diag_mdm,rmnet
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 22923
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage,diag,modem,modem_mdm,diag_mdm,rmnet
    write /sys/devices/platform/android_usb/usb_function_switch 22921
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
on property:sys.usb.config=mtp,adb,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 139
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
on property:sys.usb.config=rndis,mtp,adb,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 143
    setprop sys.usb.state ${sys.usb.config}

# Without adb & add mass_storage
on property:sys.usb.config=rndis,mtp,diag
    write /sys/devices/platform/android_usb/usb_function_switch 141
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
on property:sys.usb.config=rndis,mtp,adb,diag,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 399
    setprop sys.usb.state ${sys.usb.config}

# Without adb & add mass_storage
on property:sys.usb.config=rndis,mtp,diag,modem
    write /sys/devices/platform/android_usb/usb_function_switch 397
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,mtp,adb,mass_storage,diag
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 143
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,mtp,mass_storage,diag
    write /sys/devices/platform/android_usb/usb_function_switch 141
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
on property:sys.usb.config=rndis,mtp,adb,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2191
    setprop sys.usb.state ${sys.usb.config}

# Without adb & add mass_storage
on property:sys.usb.config=rndis,mtp,diag,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2189
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
on property:sys.usb.config=rndis,mtp,adb,diag,modem,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2447
    setprop sys.usb.state ${sys.usb.config}

# Without adb & add mass_storage
on property:sys.usb.config=rndis,mtp,diag,modem,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2445
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,mtp,adb,mass_storage,diag,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2191
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,mtp,mass_storage,diag,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2189
    setprop sys.usb.state ${sys.usb.config}



on property:sys.usb.config=rndis,mtp,adb,mass_storage,diag,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 399
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,mtp,mass_storage,diag,modem
    write /sys/devices/platform/android_usb/usb_function_switch 397
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,mtp,adb,mass_storage,diag,modem,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2447
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,mtp,mass_storage,diag,modem,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2445
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,mtp,adb,mass_storage,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 391
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,mtp,mass_storage,modem
    write /sys/devices/platform/android_usb/usb_function_switch 389
    setprop sys.usb.state ${sys.usb.config}

# Will add mass_storage
on property:sys.usb.config=rndis,mtp,adb,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 391
    setprop sys.usb.state ${sys.usb.config}

# Without adb & add mass_storage
on property:sys.usb.config=rndis,mtp,modem
    write /sys/devices/platform/android_usb/usb_function_switch 389
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage,diag,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 395
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage,diag,modem
    write /sys/devices/platform/android_usb/usb_function_switch 393
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage,diag,modem,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2443
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage,diag,modem,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2441
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb,mass_storage,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 387
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mtp,mass_storage,modem
    write /sys/devices/platform/android_usb/usb_function_switch 385
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 259
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mass_storage,modem
    write /sys/devices/platform/android_usb/usb_function_switch 257
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,diag,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 267
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mass_storage,diag,modem
    write /sys/devices/platform/android_usb/usb_function_switch 265
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb,diag,modem,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2315
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=mass_storage,diag,modem,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2313
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb,diag,modem,diag_mdm
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2318
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,diag,modem,diag_mdm
    write /sys/devices/platform/android_usb/usb_function_switch 2316
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb,diag,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 270
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,diag,modem
    write /sys/devices/platform/android_usb/usb_function_switch 268
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb,modem
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 262
    setprop sys.usb.state ${sys.usb.config}

# Without adb
on property:sys.usb.config=rndis,modem
    write /sys/devices/platform/android_usb/usb_function_switch 260
    setprop sys.usb.state ${sys.usb.config}


# Used for ##3424
on property:persist.sys.usb.diag.config=*
    setprop sys.usb.diag.config ${persist.sys.usb.diag.config}

on property:sys.usb.diag.config=diagon
    write /sys/class/android_usb/android0/f_diag/on 1
    setprop sys.usb.diag.state ${sys.usb.diag.config}

on property:sys.usb.diag.config=diagoff
    write /sys/class/android_usb/android0/f_diag/on 0
    setprop sys.usb.diag.state ${sys.usb.diag.config}

# HTC_IPT for USB IPT
service udhcpd0 /system/bin/logwrapper /system/bin/udhcpd
    disabled
    oneshot

service netsharing0_on /system/bin/netsharing net on
    disabled
    oneshot

service netsharing0_off /system/bin/netsharing net off
    disabled
    oneshot

service netsharing0_pass /system/bin/netsharing net_pass on
    disabled
    oneshot

on property:sys.usb.projector.enable=1
    write /sys/class/android_usb/f_projector/on 1

on property:sys.usb.projector.enable=0
    write /sys/class/android_usb/f_projector/on 0

